html {
  box-sizing: border-box;
  background-color: darkgrey;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, serif;
  font-size: 14px;
  background-color: rgb(234, 214, 198);
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
}

.footer-info {
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  background-color: rgba(139, 7, 91, 0.938);
  color: rgb(234, 214, 198);
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: flex;
  }
  .page {
    flex: 1 1 85%;
  }
  .aside {
    flex: 0 0 15%;
    background-image: url(/images/bgr-cofee2.png);
    background-position: top;
    background-repeat: repeat;
  }
}
.header {
  width: 100%;
  padding: 20px;
  background-color: rgb(234, 214, 198);
}

.header__logo {
  font-size: 40px;
  font-family: Georgia, serif;
  color: rgba(139, 7, 91, 0.938);
  margin-top: 0;
}

.header__claim {
  color: rgba(139, 7, 91, 0.938);
  font-size: 20px;
}

.header__subtitle {
  font-size: 14px;
  color: rgba(152, 9, 100, 0.646);
  font-style: italic;
  margin: 0;
}

.header__text {
  font-size: 14px;
  font-style: italic;
  padding: 0;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 600px) {
  .header__logo-claim,
  .header__info {
    display: flex;
    gap: 30px;
    align-items: baseline;
  }
  .address,
  .opening-hours {
    display: flex;
    flex-direction: column;
  }
}
.menu__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  background-color: rgba(152, 9, 100, 0.646);
  color: rgb(234, 214, 198);
  border: 1px solid rgba(139, 7, 91, 0.938);
  border-radius: 5px;
}

.menu__item--active {
  color: rgb(234, 214, 198);
  background-color: rgba(139, 7, 91, 0.938);
  border: 1px solid rgb(234, 214, 198);
}

.menu__link {
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.menu__link:focus,
.menu__link:hover {
  background-color: rgba(139, 7, 91, 0.938);
  color: rgb(234, 214, 198);
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  .menu__items {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .menu__item {
    display: inline-block;
  }
  .menu__link {
    padding: 10px 10px;
  }
}
.hero,
.newsletter,
.reservation-section,
.pricelist-section,
.akce-section,
.o-kave-section,
.map {
  padding: 20px;
}

.reservation-section {
  padding: 0 20px 20px 20px;
}

.picture__img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.img__float-left {
  width: 35%;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

.img__float-right {
  width: 35%;
  float: right;
  margin-left: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  .hero,
  .newsletter,
  .akce-section__item {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .akce-section__item {
    margin-bottom: 10px;
  }
  .content {
    flex: 1 1 60%;
    align-items: start;
  }
  .picture {
    order: -1;
    flex: 1 1 40%;
    align-items: start;
  }
}
a,
a:hover,
a:visited {
  color: inherit;
}

.form--newsletter {
  display: flex;
  flex-direction: column;
}

.form__item {
  flex: 1 1 auto;
  display: flex;
}

label,
.form__input {
  margin: 10px 10px 10px 0;
}

.form__label {
  width: 100px;
}

.form__label-checkbox {
  margin-left: 10px;
}

.button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(139, 7, 91, 0.938);
  background-color: rgba(152, 9, 100, 0.646);
  color: rgb(234, 214, 198);
}

.button:hover {
  background-color: rgba(139, 7, 91, 0.938);
}

#newsletter-registrace,
#rezervace-odeslana {
  color: rgba(139, 7, 91, 0.938);
  padding: 10px 0;
}

.pricelist {
  width: 100%;
  padding-bottom: 20px;
}

.pricelist td {
  width: 85%;
}

@media screen and (min-width: 600px) {
  .pricelist-section {
    display: flex;
    gap: 40px;
  }
  .pricelist__column {
    flex: 1 1 45%;
    align-items: start;
  }
}
.content__subtitle {
  color: rgba(139, 7, 91, 0.938);
  font-style: italic;
  padding-bottom: 5px;
  margin: 0;
}

.content__text {
  text-align: justify;
}

.content__unordered-list {
  list-style-position: inside;
  margin: 0 0 15px 0;
  padding: 0;
}

.content__unordered-list li {
  padding: 3px;
  text-align: justify;
}/*# sourceMappingURL=style.css.map */