$c-primary: rgba(139, 7, 91, 0.938);
$c-secondary: rgb(234, 214, 198);
$c-tertiary: rgba(152, 9, 100, 0.646);


$font-normal: Verdana, serif;
$font-special: Georgia, serif;

$size_m: 14px;
$size_l: 16px;
$size_xl: 20px;

$spacer: 20px;

$rad-tiny: 5px;
