<header class="header">
    <div class="header__logo-claim">
        <div>
            <h1 class="header__logo">Café Ginny</h1>
        </div>
        <div>
            <h2 class="header__claim"> Útulná kavárna v centru Kutné Hory</h2>
        </div>
    </div>
    <div class="header__info">
        <div class="address">
            <h3 class="header__subtitle">Adresa:</h3>
            <p class="header__text">Barborská 25/7<br>
                Kutná Hora<br>
                Tel.: 123 456 789<br>
                e-mail: <a href="mailto:info@cafeginny.cz">info@cafeginny.cz</a>
            </p>
        </div>
        <div class="opening-hours">
            <h3 class="header__subtitle" >Otevírací doba:</h3>
            <p class="header__text">pondělí - čtvrtek 8:00 - 20:00<br>
                pátek - sobota 9:00 - 20:00<br>
                neděle 9:00 - 18:00<br>
            </p>
        </div>
    </div>
    {% include "partials/menu.njk" %}
</header>
